@media (max-width: 768px) {
    .vertical-bar {
        width: 60px;
    }

    .menu {
        width: 250px;
    }

    .splide {
        margin-left: 60px;
        width: calc(100vw - 60px);
    }

    .book-btn {
        font-size: 14px;
        padding: 10px 15px;
    }
}
